.profile-top-div{
    .user-data{
        margin-left: 10px;
    }
    .profile-image{
        width: 105px;
        height: 95px;
    }
}

.submit-login-button{
    width: 100%;
    margin-top: 15px;
}
