<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon  name="arrow-back-outline" class="back-button" (click)="common.dismiss()" slot="start"></ion-icon>
    <ion-title style="text-align: center;">
      Reset Password
      <!-- <img class="headerimg" style="width: 150px;" src="../../../assets/img/logo.png"> -->
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="text-align: center;">
    
    <img src="../../../assets/img/no_data_found.webp">
    <p>Service will be available soon.</p>
  </div>
</ion-content>