<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/nav/mainpage"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img class="headerimg" style="width: 150px;" src="../../../assets/img/logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-top-div">
    <ion-card class="profile-card">
      <img class="profile-card-image" src="../../../assets/img/blog_1.jpg">
    </ion-card>
    <div class="profile-div-image">
      <div *ngIf="none"> <img class="profile-image" src="../../../assets/img/chef_1.jpg">
        <ion-icon class="profile-edit-icon" name="pencil-outline"></ion-icon>
      </div>
      <div *ngIf="no_none"> <img class="profile-image" src="{{chef_pro_img}}">
        <ion-icon class="profile-edit-icon" name="pencil-outline"></ion-icon>
      </div>
      <div class="user-data">
        <h3>{{chef_name}}</h3>
        <div class="user-specialization"><img src="../../../assets/img/chef_icon.png"><span
            class="user-specialization-heading">Specialises In:</span><span>{{chef_specialisation}}</span>
        </div>
        <div class="rating-star">
          <ngx-star-rating [id]="'rating1'" [(ngModel)]="ratingValue0" [disabled]="false"></ngx-star-rating>
        </div>
      </div>
    </div>

    <div class="chef-segment">
      <ion-segment value="menu" class="register-segment" [(ngModel)]="type" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="menu">

          <ion-label><i class="fa-solid fa-utensils"></i>&nbsp;&nbsp;Menu</ion-label>
        </ion-segment-button>
        <ion-segment-button value="review">

          <ion-label><i class="fa-solid fa-star"></i>&nbsp;&nbsp;Review</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div class="chef-menu" *ngIf='menu'>
      <ion-card style="border-radius: 11px;" *ngFor="let menu of menu_data_list_all">
        <div style="display: inline-flex;width: 100%;">
          <div class="item-menu" style="display: inline-flex;width: 90%;">
            <div><img style="width: 85px;
             height: 85px;
             border-radius: 11px;margin: 7px 0 5px 6px;" src="{{menu.path}}">
            </div>
            <div style="display: block;
         padding-left: 10px;
         width: 65%;
         margin: 5px 0 0 0;">
              <div style="font-size: 12px;
         font-weight: 500;
         margin-top: 7px;
         text-transform: capitalize;
         color: #010101;">{{menu.title}}
              </div>
              <div style="font-size: 10px;
              font-weight: 500;
              text-transform: capitalize;
              color: #010101;">{{menu.description}}
                   </div>
              <div class="cart-item-price-main-count" style="display: inline-flex;width: 100%;margin-top: 10px;;">
                <div class="cart-item-price" style="display: inline-flex;
           width: 60%;
           padding-top: 10px;">
                  <p style="margin-top: 0;
             font-size: 12px;
             font-weight: 600;">{{menu.price | currency:'INR':'symbol'}}</p>
                  <!-- <del style="padding-left: 5px;
             font-size: 12px;
             padding-top: 7px;
             opacity: 99999;
     color: #a9a9a9;">$ {{menu.mrp}}</del> -->
                </div>



                <div class="cart-item-count" style="display: inline-flex;
           width: 35%;
           border: 1px solid #edf1f3;
           border-radius: 5px;
           justify-content: space-around;
           padding-top: 5px;
           margin-right: -2px;
           margin-top: 8px;
           height: 25px;">
                  <ion-icon name="remove-outline" class="cart-delete-icon" (click)="decreaseItem(menu)"></ion-icon>
                  <span>{{menu.counter}}</span>
                  <ion-icon name="add-outline" class="cart-delete-icon" (click)="increaseItem(menu)"></ion-icon>
                </div>
              </div>
            </div>
          </div>
          <div style="width: 10%;
          display: block;
          justify-content: space-between;
          position: relative;
          background: #f4f8f9;
          padding-top: 15px;
          text-align: center;
          font-size: 20px;">
            <div style="height: 50%;">
              <ion-icon name="bag-handle-outline" (click)="addItemClick(menu)" style="color: #1c5c74;opacity: 999;">
              </ion-icon>
            </div>
            <div style="color: #1c5c74;opacity: 999;">
              <ion-icon name="chevron-forward-outline" (click)="displaySingleMenu(menu)"></ion-icon>
            </div>
          </div>
        </div>

      </ion-card>
    </div>
    <div *ngIf="chef">
      <div class="ion-padding login-input-value rating_div" slot="content">
        <div class="rating-order-wrp">
          <div class="w-25">
            <div class="rating-average">4.7</div>
            <div class="ratings">450 ratings</div>

          </div>
          <div class="w-75">
            <div class="d-flex rating-list align-items-center">
              <p class="w-50 rating-text">Excellent & Awesome</p>
              <div class="star w-50 rating-star">
                <ngx-star-rating [id]="'rating1'" [(ngModel)]="ratingValue5" [disabled]="false"></ngx-star-rating>
              </div>
            </div>
            <div class="d-flex rating-list align-items-center">
              <p class="w-50 rating-text">Very Good</p>
              <div class="star w-50 rating-star">
                <ngx-star-rating [id]="'rating1'" [(ngModel)]="ratingValue4" [disabled]="false"></ngx-star-rating>
              </div>
            </div>
            <div class="d-flex rating-list align-items-center">
              <p class="w-50 rating-text">Good</p>
              <div class="star w-50 rating-star">
                <ngx-star-rating [id]="'rating1'" [(ngModel)]="ratingValue3" [disabled]="false"></ngx-star-rating>
              </div>
            </div>
            <div class="d-flex rating-list align-items-center">
              <p class="w-50 rating-text">Average</p>
              <div class="star w-50 rating-star">
                <ngx-star-rating [id]="'rating1'" [(ngModel)]="ratingValue2" [disabled]="true"></ngx-star-rating>
              </div>
            </div>
            <div class="d-flex rating-list align-items-center">
              <p class="w-50 rating-text">Ok</p>
              <div class="star w-50 rating-star">
                <ngx-star-rating [id]="'rating1'" [(ngModel)]="ratingValue1" [disabled]="false"></ngx-star-rating>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="skills_details">
        <div class="skills_heading">
          Skills:
        </div>
        <div class="skills_text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </div>
      </div>

      <div class="skills_details">
        <div class="skills_heading">
          Description:
        </div>
        <div class="skills_text skills_bottom">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </div>
      </div>
    </div>

  </div>
  <ion-card *ngIf="dateCard" class="countrycard">
    <div class="crossCut" (click)="dateCard =! dateCard"><ion-icon  name="close-outline" class="closed"></ion-icon></div>
    <ion-item (click)="showPicker =! showPicker">
      <ion-label>Date</ion-label>
      <ion-text slot="end">{{formateString}}</ion-text>
    </ion-item>
    <ion-datetime *ngIf="showPicker" min="{{dateValue}}" #datetime [value]="dateValue" size="cover" (ionChange)="dateChanged(datetime.value)"
    showDefaultButtons="true" (ionCancel)="showPicker = false;">
  </ion-datetime>
     <ion-item>
      <ion-input placeholder="Add Description(eg.add one item more)*" [(ngModel)]="descriptionValue"></ion-input>
     </ion-item>
     <div class="submit-div"><ion-button class="submit-login-button" (click)="addToCart()">Add to Cart</ion-button></div>
   
  </ion-card>

</ion-content>