

.blog-paragraph{
    margin: 0 15px;
    .blog-paragraph-h6{
        font-size: 11px;
        font-weight: 400;
    }
}

.slider-image{
    height: 200px;
    width: 500px;
    margin-bottom: -4px;
}
