.date{
    background-color: transparent;
    border: 2px solid #e1eaec;
    border-radius: 21px;
    outline: none;
}
.blogCard{
    border-radius: 10px;

}
.addedImage{
    width: 90px;
    height: 90px;
    margin: 0;
   img{
    border-radius: 10px;
    // padding: 5px;
}
}
