<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img class="headerimg" style="width: 150px;" src="../../../assets/img/logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-datetime *ngIf="showPicker" min="{{dateValue}}" #datetime [value]="dateValue" size="cover" (ionChange)="dateChanged(datetime.value)"
  showDefaultButtons="true" (ionCancel)="showPicker = false;">
</ion-datetime>
  <div class="ion-padding login-input-value">
    <form #contactAddressForm="ngForm" (ngSubmit)="onAddressSubmit(contactAddressForm)" >
    <div class="form-group label-float">
      <ion-input type="text" name="title" #title="ngModel" required placeholder="Title * " ngModel></ion-input>
      <span class="text-danger"
      *ngIf="(title.touched || contactAddressForm.submitted) && title.errors?.required">
      Blog Name is required *
  </span>
    </div>
    <div class="form-group label-float">
      <ion-input type="text" name="into" #intro="ngModel" required placeholder="Intro * " ngModel></ion-input>
      <span class="text-danger"
      *ngIf="(intro.touched || contactAddressForm.submitted) && intro.errors?.required">
      Blog Intro is required *
  </span>
    </div>
    <div class="form-group label-float">
     
      <ion-item (click)="showPicker =! showPicker" lines="none" class="date">
        <ion-label>Select Date</ion-label>
        <ion-text slot="end">{{formateString}}</ion-text>
      </ion-item>
    
    </div>
  
    <div class="form-group label-float">
      <ion-textarea class="date" type="text" name="descr" #descr="ngModel" required placeholder="Description * " ngModel></ion-textarea>
      <span class="text-danger"
      *ngIf="(descr.touched || contactAddressForm.submitted) && descr.errors?.required">
      Blog Description is required *
  </span>
    </div>
  <div class="submit-div">
<ion-button class="submit-login-button" expand="round" type="submit" [disabled]="contactAddressForm.form.invalid">Add Event</ion-button>
  </div>
</form>

</div>
<div>
  <div style="padding-left: 15px;font-weight: 600;color: #1c5c75;font-size: 18px;">Added Events List</div>
  <div class="noEvent" *ngIf="eventListLength==0">
    You did not Add any Events
  </div>
  <div class="eventData" *ngIf="eventListLength>0"></div>
</div>
</ion-content>
