.price_name{
    margin-bottom: 5px;
    padding-left: 10px;
    color: #1c5c75;
}
ion-textarea{
    background-color: transparent;
    border: 2px solid #e1eaec;
    font-size: 15px;
    border-radius: 21px;
    padding-left: 10px;
}