<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="customerback">
      <ion-back-button defaultHref="/nav/mainpage"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="chefback">
      <ion-back-button defaultHref="/nav/chef-home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img class="headerimg" style="width: 150px;" src="../../../assets/img/logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="profile-div-image">
    <div class="pro-img" (click)="selectImage()">
       <img class="profile-image" src="{{user_ProfImage}}">
      <ion-icon class="profile-edit-icon" name="pencil-outline"></ion-icon>
    </div>
    <div class="user-data">
      <h3>{{user_name}}</h3>
      <div class="user-phone">
        <ion-icon name="call-outline" class="call"></ion-icon>
        <span class="user-specialization-heading call">Phone:</span><span>{{user_phone}}</span>
      </div>
      
    </div>
  </div>


<div style="margin-top: 5vh;">
  <ion-accordion-group [multiple]="true" [value]="['first']">
    <ion-card class="accordion-card">
    <ion-accordion value="first" toggleIcon="chevron-down-circle" toggleIconSlot="end">
      <ion-item slot="header" color="light">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label style="text-align: right;">My Address</ion-label>
      </ion-item>
      <div class="ion-padding login-input-value" slot="content">
          <form #contactAddressForm="ngForm" (ngSubmit)="onAddressSubmit(contactAddressForm)" >
          <div class="form-group label-float">
            <ion-input type="text" name="firstname" [(ngModel)]="user.user_first_name" [ngModelOptions]="{standalone: true}"  #firstname="ngModel" required placeholder="First Name * " ngModel></ion-input>
        
            <span class="text-danger"
            *ngIf="(firstname.touched || contactAddressForm.submitted) && firstname.errors?.required">
            Full Name is required *
        </span>
          </div>
          <div class="form-group label-float">
            <ion-input type="text" name="lastname" #lastname="ngModel" [(ngModel)]="user.user_last_name" [ngModelOptions]="{standalone: true}" required placeholder="Last Name * " ngModel></ion-input>
        
            <span class="text-danger"
            *ngIf="(lastname.touched || contactAddressForm.submitted) && lastname.errors?.required">
            Last Name is required *
        </span>
          </div>
          <div class="form-group label-float">
            <ion-input type="tel" name="phone" #phone="ngModel" [(ngModel)]="user_phone" [ngModelOptions]="{standalone: true}" required placeholder="Phone Number * " ngModel></ion-input>
            <span class="text-danger"
            *ngIf="(phone.touched || contactAddressForm.submitted) && phone.errors?.required">
            Phone Number is required *
        </span>
          </div>
          <div class="label-float">
            <ion-item lines="none"  class="form-item"> <!-- (click)="minHeightShow()" -->       
              <ion-label><div>Country</div></ion-label>
            <ion-label><div>India</div></ion-label>
            </ion-item>
          </div>
          <div class="label-float">
            <ion-item lines="none" (click)="stateshow()" class="form-item">
              <ion-label>Select State</ion-label>
            <ion-label style="font-size: 13px;" ><div>{{statename}}</div></ion-label>
            <ion-icon name="chevron-down-outline" style="color: #1c5c75;"></ion-icon>
            
            </ion-item>
           
          </div>
          <div class="city-pin" style="display: flex;width: 100%;">
       
            <div class="label-float" style="width: 70%;margin-right: 5px;">
              <ion-item lines="none" (click)="cityshow()" class="form-item">
                <ion-label>City</ion-label>
              <ion-label style="font-size: 13px;" ><div>{{cityname}}</div></ion-label>
              <ion-icon name="chevron-down-outline" style="color: #1c5c75;"></ion-icon>
               
              </ion-item>
             
            </div>
        
            <div class="form-group label-float">
              <ion-input type="tel" name="pin" #pin="ngModel" [(ngModel)]="user.user_pin" [ngModelOptions]="{standalone: true}" required placeholder="Pin * " ngModel></ion-input>
              <span class="text-danger"
              *ngIf="(pin.touched || contactAddressForm.submitted) && pin.errors?.required">
              Pin is required *
          </span>
            </div>
          </div>
          <div class="form-group label-float">
            <ion-textarea type="text" name="location" #location="ngModel" [(ngModel)]="user.user_location" [ngModelOptions]="{standalone: true}" required placeholder="Location * " ngModel></ion-textarea>
            <span class="text-danger"
            *ngIf="(location.touched || contactAddressForm.submitted) && location.errors?.required">
            Location is required *
        </span>
          </div>
        <div class="submit-div">
      <ion-button class="submit-login-button" expand="round" type="submit" [disabled]="contactAddressForm.form.invalid">Update Address</ion-button>
        </div>
      </form>
      <div class="address-show">
        <div class="name-address">
          <div class="name">{{user_name}}</div>
          <!-- <div class="edit"><ion-button class="edit-button" >Edit <ion-icon name="create-outline"></ion-icon></ion-button></div> -->
        </div>
       <div class="address-in-details">
        <ion-text style="width: 80%;"><span ></span>{{user_location}}</ion-text>
       </div>
      </div>
      </div>
    </ion-accordion>
  </ion-card>
  </ion-accordion-group>

  <ion-accordion-group>
    <ion-card class="accordion-card">
    <ion-accordion value="first" toggleIcon="chevron-down-circle" toggleIconSlot="end">
      <ion-item slot="header" color="light">
        <ion-icon name="star-outline" slot="start"></ion-icon>
        <ion-label style="text-align: right;">My Reviews</ion-label>
      </ion-item>
      <div class="ion-padding login-input-value" slot="content">
        <div class="rating-order-wrp">
          <!-- <div class="w-25">
            <div class="rating-average">4.7</div>
            <div class="ratings">450 ratings</div>
            
          </div> -->
    <div class="w-100">
      <div class="d-flex rating-list align-items-center">
        <p class="w-50 rating-text">Excellent & Awesome</p>
        <div class="star w-50 rating-star">
            <ngx-star-rating [id]="'rating1'" [(ngModel)]="ratingValue5" [disabled]="false"></ngx-star-rating>
        </div>
    </div>
    <div class="d-flex rating-list align-items-center">
      <p class="w-50 rating-text">Very Good</p>
      <div class="star w-50 rating-star">
          <ngx-star-rating [id]="'rating1'" [(ngModel)]="ratingValue4" [disabled]="false"></ngx-star-rating>
      </div>
  </div>
  <div class="d-flex rating-list align-items-center">
    <p class="w-50 rating-text">Good</p>
    <div class="star w-50 rating-star">
        <ngx-star-rating [id]="'rating1'" [(ngModel)]="ratingValue3" [disabled]="false"></ngx-star-rating>
    </div>
</div>
<div class="d-flex rating-list align-items-center">
  <p class="w-50 rating-text">Average</p>
  <div class="star w-50 rating-star">
      <ngx-star-rating [id]="'rating1'" [(ngModel)]="ratingValue2" [disabled]="true"></ngx-star-rating>
  </div>
</div>
<div class="d-flex rating-list align-items-center">
<p class="w-50 rating-text">Ok</p>
<div class="star w-50 rating-star">
    <ngx-star-rating [id]="'rating1'" [(ngModel)]="ratingValue1" [disabled]="false"></ngx-star-rating>
</div>
</div>
<div class="selectStar">
  <ion-card class="star_card">
    <ion-card-content>
      Please Select Stars As your Review For Customer
    </ion-card-content>
    <ngx-star-rating [id]="'rating1'" [(ngModel)]="ratingValue" [disabled]="false"></ngx-star-rating>
  </ion-card>
</div>
</div>      
      </div>
      </div>
    </ion-accordion>
  </ion-card>
  </ion-accordion-group>

<!-- <ion-card class="addBlogs">
  <ion-list>
    <ion-item lines="none" (click)="addBlogs()">
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label style="text-align: right;">Add Blogs</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-card> -->

</div>
<ion-card *ngIf="stateCard" class="countrycard">
  <div class="crossCut" (click)="stateCard =! stateCard"><ion-icon  name="close-outline" class="closed"></ion-icon></div>
    <ion-radio-group (ionChange)="selectState($event)">
      <ion-item *ngFor="let h of state_data">
        <ion-label>{{h.state_name}}</ion-label>
        <ion-radio slot="start" [value]="h"></ion-radio>
      </ion-item>
    </ion-radio-group>
</ion-card>

<ion-card *ngIf="cityCard" class="countrycard">
  <div class="crossCut" (click)="cityCard =! cityCard"><ion-icon  name="close-outline" class="closed"></ion-icon></div>
    <ion-radio-group (ionChange)="selectCity($event)">
      <ion-item *ngFor="let h of city_data">
        <ion-label>{{h.city_name}}</ion-label>
        <ion-radio slot="start" [value]="h"></ion-radio>
      </ion-item>
    </ion-radio-group>
</ion-card>
</ion-content>