.event-card{
    background: white;
    border-radius: 21px;
    .event-img{
        width: 70px;
        height: 70px;
        border-radius: 21px;
    }
    .event-label{
        margin: 0 0 0 13px;
        .event-location-name{
            font-size: 15px;
            font-weight: 700;
            font-family: sans-serif;
            white-space: normal;
        }
        .img-span{
            display: flex;
            margin: 4px 0;
            .date-icon{
                width: 10px;
                height: 10px;
            }
            .location-icon{
                width: 10px;
                height: 10px;
            }
            span{
                padding-left: 7px;
                font-size: 10px;
                font-weight: 500;
                font-family: sans-serif;
            }
        }

    }

}
.item-list{
    margin-left: -10px;
    margin-top: -2px;
    .cart-row{
        width: 100%;
        margin-right: -5px;
        margin-top: -5px;
        .cart-name-col{
       .cart-item-name{
        font-size: 15px;
    line-break: anywhere;
    font-weight: 500;
    color: #505050;
       }
        }
        .cart-delete-col{
            text-align: right;
            .cart-delete-icon{
                color: red;
                border: 1px solid grey;
                border-radius: 50%;
                padding: 3px;
                }
        }
    }
}

// style="display: inline-flex;
// width: 30%;
// border: 1px solid grey;
// border-radius: 11px;
// justify-content: space-around;
// padding-top: 5px;
// margin-right: -2px;
// margin-top: 10px;
// height: 29px;"

// display: inline-flex;
//           width: 60%;
//           padding-left: 12px;
//           padding-top: 10px;"


// <p style="margin-top: 0;
// font-size: 18px;
// font-weight: 600;">$ 500</p>
// <del style="padding-left: 5px;
// font-size: 12px;
// padding-top: 7px;
// opacity: .7;">$ 400</del>

// display: inline-flex;width: 30%;border: 1px solid grey;border-radius: 11px;justify-content: space-around;
//           padding-top: 7px;
//           margin-right: -2px;