<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/mainpage"></ion-back-button>
      </ion-buttons>
    <ion-title style="text-align: center;">
     All Event
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>
  <ion-item lines="none" *ngFor="let ev of latestEventAllData" class="event-item">
    <ion-avatar slot="start">
      <img src="../../../assets/img/chef_1.jpg">
    </ion-avatar>
    <ion-label class="ion-text-wrap">
      <ion-text color="primary">
        <h3>{{ev.title}}</h3>
      </ion-text>
      <p>{{ev.location}}</p>
      <ion-text color="secondary">
        <p>{{ev.month}},{{ev.date_year}}</p>
      </ion-text>
    </ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>
</ion-list>
</ion-content>