<ion-content class="login-container">
  <div class="bg-image">
  <img src="../../../assets/img/login_bg.jpeg">
  </div>
  <div class="login-input">
  <div class="app-name">
    <h1>Happy plates</h1>
    <span>Welcome! SignUp and get started</span>
  </div>
  <div class="login-input-value">
    <div class="label-float">
      <input type="text" formControlName="email" placeholder="Enter Email " />
      <label>EMail<span class="span-star">*</span></label>
    </div>

    <div class="label-float">
      <input type="text" formControlName="email" placeholder="Enter Password " />
      <label>Password<span class="span-star">*</span></label>
    </div>
  </div>

  <div class="remember-forgot">
<div>
  <ion-item lines='none'>
    <ion-label>Remember Me</ion-label>
    <ion-checkbox slot="start" mode="md" class="remember-checkbox"></ion-checkbox>
  </ion-item>
</div>
   <div class="forgot-div">
    <p class="forgot-p">Forgot Password</p>
   </div>
  </div>
  <div class="submit-div">
<ion-button class="submit-login-button" expand="round">Log In</ion-button>
  </div>
  <div class="create-new-account">
    <p class="create-account-p">Don't have an account<a>Sign Up</a></p>
  </div>
  </div>

</ion-content>
