<ion-content class="login-container">
  <div class="bg-image">
    <img src="../../../assets/img/login_bg.jpeg">
    </div>
    <div class="login-input">
      <div class="app-name">
        <h1>Happy plates</h1>
<span>Welcome! SignUp and get started</span>
      </div>
   <div class="chef-segment">
    <ion-segment value="customer" class="register-segment" [(ngModel)]="type" (ionChange)="segmentChanged($event)"> 
      <ion-segment-button value="customer">
        <ion-label>I'M A CUSTOMER</ion-label>
      </ion-segment-button>
      <ion-segment-button value="chef">
        <ion-label>I'M A CHEF</ion-label>
      </ion-segment-button>
    </ion-segment>
   </div>

   <div class="login-input-value" *ngIf="customer">
    <ion-list>
      <ion-item style="border: 1px dotted #dfe8ed;
      border-radius: 21px;
      text-align: center;">
        <ion-label (click)="selectImage()">
          <ion-icon name="add-outline" slot="start"></ion-icon>Upload Image
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start"><img src="{{croppedImagePath}}"></ion-avatar>
        <!-- <ion-button slot="end" size="small" (click)="uploadImage()">upload</ion-button> -->
        </ion-item>
    </ion-list>
     <form [formGroup]="registrationForm" (ngSubmit)="submitForm()" novalidate>
    <div class="label-float">
      <ion-input type="text" formControlName="firstname" placeholder="Enter First Name " required="true"></ion-input>
      <label>First Name<span class="span-star">*</span></label>
      <div *ngFor="let error of errorMessages.firstname">
        <ng-container *ngIf="firstname.hasError(error.type) && (firstname.dirty || firstname.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
    </div>
    <div class="label-float">
      <ion-input type="text" formControlName="lastname" placeholder="Enter Last Name " required="true"></ion-input>
      <label>Last Name<span class="span-star">*</span></label>
      <div *ngFor="let error of errorMessages.lastname">
        <ng-container *ngIf="lastname.hasError(error.type) && (lastname.dirty || lastname.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
    </div>
    <div class="label-float">
      <ion-input type="text" formControlName="phone" placeholder="Enter Phone " required="true"></ion-input>
      <label>Phone<span class="span-star">*</span></label>
      <div *ngFor="let error of errorMessages.phone">
        <ng-container *ngIf="phone.hasError(error.type) && (phone.dirty || phone.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
    </div>
    <div class="label-float">
      <ion-input type="text" formControlName="email" placeholder="Enter Email " required="true"></ion-input>
      <label>EMail<span class="span-star">*</span></label>
      <div *ngFor="let error of errorMessages.email">
        <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
    </div>
    <div class="label-float">
      <ion-input type="text" formControlName="country" placeholder="Enter Country Name " required="true"></ion-input>
      <label>Country Name<span class="span-star">*</span></label>
      <div *ngFor="let error of errorMessages.country">
        <ng-container *ngIf="country.hasError(error.type) && (country.dirty || country.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
    </div>
    <div class="label-float">
      <ion-input type="text" formControlName="state" placeholder="Enter State Name " required="true"></ion-input>
      <label>State Name<span class="span-star">*</span></label>
      <div *ngFor="let error of errorMessages.state">
        <ng-container *ngIf="state.hasError(error.type) && (state.dirty || state.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
    </div>
    <div class="label-float">
      <ion-input type="text" formControlName="city" placeholder="Enter City Name " required="true"></ion-input>
      <label>City Name<span class="span-star">*</span></label>
      <div *ngFor="let error of errorMessages.city">
        <ng-container *ngIf="city.hasError(error.type) && (city.dirty || city.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
    </div>
    <div class="label-float">
      <ion-input type="text" formControlName="pin" placeholder="Enter ZipCode " required="true"></ion-input>
      <label>Zip Code<span class="span-star">*</span></label>
      <div *ngFor="let error of errorMessages.lastname">
        <ng-container *ngIf="pin.hasError(error.type) && (pin.dirty || pin.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
    </div>
    <div class="label-float">
      <ion-input type="text" formControlName="address" placeholder="Enter Address " required="true"></ion-input>
      <label>Address<span class="span-star">*</span></label>
      <div *ngFor="let error of errorMessages.address">
        <ng-container *ngIf="address.hasError(error.type) && (address.dirty || address.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
    </div>
    <div class="label-float">
      <ion-input type="text" formControlName="password" placeholder="Enter Password " required="true"></ion-input>
      <label>Password<span class="span-star">*</span></label>
      <div *ngFor="let error of errorMessages.password">
        <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
    </div>
    <div class="label-float">
      <ion-input type="text" formControlName="cpassword" placeholder="Enter Confirm Password " required="true"></ion-input>
      <label>Confirm Password<span class="span-star">*</span></label>
      <div *ngFor="let error of errorMessages.cpassword">
        <ng-container *ngIf="cpassword.hasError(error.type) && (cpassword.dirty || cpassword.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
    </div>
  
    <div class="check-checkbox">
      <ion-item lines='none'>
        <span>By signing up you agree to platform's <a>Terms of Service</a>and <a>Privacy Policy.</a></span>
        <ion-checkbox slot="start" mode="md" class="remember-checkbox" value="yes" (ionChange)="checkedValue($event)"></ion-checkbox>
      </ion-item>
    </div>
    <div class="submit-div">
      <ion-button class="submit-login-button" expand="round" type="submit" >Submit</ion-button>
    </div>
  </form>
  </div>

  <div class="login-input-value" *ngIf="chef">
    <form [formGroup]="registrationForm" (ngSubmit)="submitForm()">
      <div class="label-float">
        <ion-input type="text" formControlName="firstname" placeholder="Enter First Name " required="true"></ion-input>
        <label>First Name<span class="span-star">*</span></label>
        <div *ngFor="let error of errorMessages.firstname">
          <ng-container *ngIf="firstname.hasError(error.type) && (firstname.dirty || firstname.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </div>
      <div class="label-float">
        <ion-input type="text" formControlName="lastname" placeholder="Enter First Name " required="true"></ion-input>
        <label>Last Name<span class="span-star">*</span></label>
        <div *ngFor="let error of errorMessages.lastname">
          <ng-container *ngIf="lastname.hasError(error.type) && (lastname.dirty || lastname.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </div>
      <div class="label-float">
        <ion-input type="text" formControlName="phone" placeholder="Enter Phone " required="true"></ion-input>
        <label>Phone<span class="span-star">*</span></label>
        <div *ngFor="let error of errorMessages.phone">
          <ng-container *ngIf="phone.hasError(error.type) && (phone.dirty || phone.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </div>
      <div class="label-float">
        <ion-input type="text" formControlName="email" placeholder="Enter Email " required="true"></ion-input>
        <label>EMail<span class="span-star">*</span></label>
        <div *ngFor="let error of errorMessages.email">
          <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </div>
      <div class="label-float">
        <ion-input type="text" formControlName="skills" placeholder="Enter Skills, Ex:Bachelor of Hotel Management (BHM) in Culinary " required="true"></ion-input>
        <label>Enter Skills<span class="span-star">*</span></label>
        <div *ngFor="let error of errorMessages.specialization">
          <ng-container *ngIf="skills.hasError(error.type) && (skills.dirty || skills.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </div>
      <div class="label-float">
        <ion-input type="text" formControlName="specialization" placeholder="Enter Specialization " required="true"></ion-input>
        <label>Enter Specialization<span class="span-star">*</span></label>
        <div *ngFor="let error of errorMessages.specialization">
          <ng-container *ngIf="specialization.hasError(error.type) && (specialization.dirty || specialization.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </div>
      <div class="label-float">
        <ion-input type="text" formControlName="description" placeholder="Enter Description " required="true"></ion-input>
        <label>Enter Description<span class="span-star">*</span></label>
        <div *ngFor="let error of errorMessages.specialization">
          <ng-container *ngIf="description.hasError(error.type) && (description.dirty || description.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </div>
      <div class="label-float">
        <ion-input type="text" formControlName="aboutme" placeholder="Enter About Me " required="true"></ion-input>
        <label>Enter About Me<span class="span-star">*</span></label>
        <div *ngFor="let error of errorMessages.aboutme">
          <ng-container *ngIf="aboutme.hasError(error.type) && (aboutme.dirty || aboutme.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </div>
      <div class="label-float">
        <ion-input type="text" formControlName="country" placeholder="Enter Country Name " required="true"></ion-input>
        <label>Country Name<span class="span-star">*</span></label>
        <div *ngFor="let error of errorMessages.country">
          <ng-container *ngIf="country.hasError(error.type) && (country.dirty || country.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </div>
      <div class="label-float">
        <ion-input type="text" formControlName="state" placeholder="Enter State Name " required="true"></ion-input>
        <label>State Name<span class="span-star">*</span></label>
        <div *ngFor="let error of errorMessages.state">
          <ng-container *ngIf="state.hasError(error.type) && (state.dirty || state.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </div>
      <div class="label-float">
        <ion-input type="text" formControlName="city" placeholder="Enter City Name " required="true"></ion-input>
        <label>City Name<span class="span-star">*</span></label>
        <div *ngFor="let error of errorMessages.city">
          <ng-container *ngIf="city.hasError(error.type) && (city.dirty || city.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </div>
      <div class="label-float">
        <ion-input type="text" formControlName="pin" placeholder="Enter ZipCode " required="true"></ion-input>
        <label>Zip Code<span class="span-star">*</span></label>
        <div *ngFor="let error of errorMessages.lastname">
          <ng-container *ngIf="pin.hasError(error.type) && (pin.dirty || pin.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </div>
      <div class="label-float">
        <ion-input type="text" formControlName="address" placeholder="Enter Address " required="true"></ion-input>
        <label>Address<span class="span-star">*</span></label>
        <div *ngFor="let error of errorMessages.address">
          <ng-container *ngIf="address.hasError(error.type) && (address.dirty || address.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </div>
      <div class="label-float">
        <ion-input type="text" formControlName="password" placeholder="Enter Password " required="true"></ion-input>
        <label>Password<span class="span-star">*</span></label>
        <div *ngFor="let error of errorMessages.password">
          <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </div>
      <div class="label-float">
        <ion-input type="text" formControlName="cpassword" placeholder="Enter Confirm Password " required="true"></ion-input>
        <label>Confirm Password<span class="span-star">*</span></label>
        <div *ngFor="let error of errorMessages.cpassword">
          <ng-container *ngIf="cpassword.hasError(error.type) && (cpassword.dirty || cpassword.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </div>
      <ion-list>
        <ion-item style="border: 1px dotted #dfe8ed;
        border-radius: 21px;
        text-align: center;">
          <ion-label (click)="selectImage()">
            <ion-icon name="add-outline" slot="start"></ion-icon>Upload Image
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start"><img src="{{croppedImagePath}}"></ion-avatar>
          <!-- <ion-button slot="end" size="small" (click)="uploadImage()">upload</ion-button> -->
          </ion-item>
      </ion-list>
      <div class="check-checkbox">
        <ion-item lines='none'>
          <span>By signing up you agree to platform's <a>Terms of Service</a>and <a>Privacy Policy.</a></span>
          <ion-checkbox slot="start" mode="md" class="remember-checkbox" value="yes" (ionChange)="checkedValue($event)"></ion-checkbox>
        </ion-item>
      </div>
      <div class="submit-div">
        <ion-button class="submit-login-button" expand="round" type="submit">Submit</ion-button>
      </div>
    </form>
  </div>
          <div class="create-new-account" id="create-new-account">
            <p class="create-account-p" (click)="clickLogin()">Already have an Account ?<a>Sign In</a></p>
          </div>
    </div>
</ion-content>