<ion-content class="login-container">
  <div class="bg-image">
    <img src="../../../assets/img/login_bg.jpeg">
    </div>
    <div class="login-input">
      <div class="app-name">
        <h1>Happy plates</h1>
        <p class="otp-paragraph">Enter the 4 digit OTP send by sms on your phone</p>
      </div>
   <div class="chef-segment">
    <ion-segment value="all">
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <ion-label>Favorites</ion-label>
      </ion-segment-button>
    </ion-segment>
   </div>
      <div class="submit-div">
        <ion-button class="submit-login-button" expand="round">Submit OTP</ion-button>
          </div>
          <div class="create-new-account">
            <p class="create-account-p">Don't receive the verification OTP ?<br><a>Resend OTP</a></p>
          </div>
    </div>
</ion-content>