<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-text">
      <img class="headerimg" style="width: 150px;" src="../../../assets/img/logo.png">
    <!-- About Us -->
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="blog-heading">
  <div class="blog-head"><p>Blog</p></div>
  <div class="blog-year"><p>2021</p></div>
</div>
<div class="blog-card-img">
  <ion-card>
    <ion-card class="second-blog-card" (click)="showBlogModal()">
      <img src="../../../assets/img/chef_1.jpg">
    </ion-card>

 
  <div class="blog-date-admin-icon">
    <div class="blog-date-icon"><img src="../../../assets/img/date.png"><span class="blog-date-text">15, Jan2022</span></div>
    <div class="blog-admin-icon"><img src="../../../assets/img/location.png"><span class="blog-admin-text">Admin</span></div>
     </div>
     <div class="blog-name">
      <p class="blog-script-name">India Food Forum Mumbai</p>
    </div>
    <div class="blog-details">
      <span class="blog-span-details">It is a long established fact that a 
        reader will be distracted by the readable content of a page when 
        looking at its layout. The point of using Lorem Ipsum is that it has 
        a more-or-less normal distribution of letters, as opposed to using 
        'Content here, content here', making it look like readable English.</span>
    </div>
  </ion-card>
</div>
<div class="blog-card-img">
  <ion-card>
    <ion-card class="second-blog-card" (click)="showBlogModal()">
      <img src="../../../assets/img/chef_1.jpg">
    </ion-card>

 
  <div class="blog-date-admin-icon">
    <div class="blog-date-icon"><img src="../../../assets/img/date.png"><span class="blog-date-text">22, Feb2022</span></div>
    <div class="blog-admin-icon"><img src="../../../assets/img/location.png"><span class="blog-admin-text">Admin</span></div>
     </div>
     <div class="blog-name">
      <p class="blog-script-name">India Food Forum Mumbai</p>
    </div>
    <div class="blog-details">
      <span class="blog-span-details">It is a long established fact that a 
        reader will be distracted by the readable content of a page when 
        looking at its layout. The point of using Lorem Ipsum is that it has 
        a more-or-less normal distribution of letters, as opposed to using 
        'Content here, content here', making it look like readable English.</span>
    </div>
  </ion-card>
</div>
<div class="blog-card-img">
  <ion-card>
    <ion-card class="second-blog-card" (click)="showBlogModal()">
      <img src="../../../assets/img/chef_1.jpg">
    </ion-card>

 
  <div class="blog-date-admin-icon">
    <div class="blog-date-icon"><img src="../../../assets/img/date.png"><span class="blog-date-text">10, March2022</span></div>
    <div class="blog-admin-icon"><img src="../../../assets/img/location.png"><span class="blog-admin-text">Admin</span></div>
     </div>
     <div class="blog-name">
      <p class="blog-script-name">India Food Forum Mumbai</p>
    </div>
    <div class="blog-details">
      <span class="blog-span-details">It is a long established fact that a 
        reader will be distracted by the readable content of a page when 
        looking at its layout. The point of using Lorem Ipsum is that it has 
        a more-or-less normal distribution of letters, as opposed to using 
        'Content here, content here', making it look like readable English.</span>
    </div>
  </ion-card>
</div>

  </ion-content>