ion-content {
    --background       : url("../../../assets/img/bg_1.png") repeat center center fixed;
    --background-repeat: no-repeat;
    --background-size  : cover;
    height             : 100vh;
    left               : 0;
    right              : 0;
    top                : -3px;
}

.searchbar-input-container {
    .sc-ion-searchbar-md {
        --border: 1px solid #d32235;
    }

    input {
        border: 1px solid #d32235;
    }
}

.searchbar-input {
    border: 1px solid #d32235;
}

.card-full {
    margin                       : 0;
    border-bottom-left-radius    : 30px;
    border-bottom-right-radius   : 30px;
    // z-index                   : 999;
    // position                  : absolute;
    width                        : 100%;
    background                   : white;

    .chef-detail {
        display     : grid;
        text-align  : left;
        padding-left: 15px;
    }
}

.slider-chef-div {
    z-index      : 99999;
    position     : relative;
    margin-bottom: -70px;
    text-align   : center;
}

ion-header {
    overflow: hidden;
}

.searchbar-input.sc-ion-searchbar-md {
    padding-inline-start: 20px;
}

ion-searchbar {
    --border-radius   : 21px;
    // margin-top     : 10px;

    ion-icon {
        position: absolute;
        right   : 16px !important;
        left    : auto !important;
    }

    .searchbar-input {
        border : 1px solid #d32235;
        opacity: 99;
    }
}

.searchbar-search-icon .sc-ion-searchbar-md {
    position: absolute;
    right   : 16px !important;
    left    : auto !important;
}

.slides-main {
    padding-left: 10px;

    .slider-card {
        border-radius: 21px;
        margin       : 0;

        .chef-name {
            color      : #1c5c74;
            font-weight: 600;
            margin     : 5px 0;
            overflow   : hidden;
            white-space: nowrap;
        }

        .chef-specialization {
            color       : #d32235;
            padding-left: 5px;
            font-size   : 12px;
        }

        .chef-specialization-type {
            color    : #1c1c1c;
            padding  : 5px 0;
            font-size: 11px;
        }

        .chef-button {
            text-align: center;
        }

        .chef-specialization-div {
            display   : inline;
            text-align: left;

            img {
                width: 12px;
            }
        }

        .see-menu {
            --background  : #d9e4e8;
            --color       : #090a0a;
            text-transform: capitalize;
            margin-bottom : 15px;
            box-shadow    : none;
            min-width     : 110px;
        }
    }
}

.chef-view {
    display        : flex;
    justify-content: space-between;
    margin         : 20px 15px 10px 15px;

    .chef-1 {
        color      : #1c5c74;
        font-weight: 500;
        font-size  : 18px;
    }

    .chef-more {
        color      : #1c5c74;
        font-weight: 500;
        font-size  : 12px;
        margin-top : 8px;
    }
}

@media (min-width: 240px) and (max-width: 320px) {
    .card-full {
        height: 315px;
    }

    .latest-chef-div {
        margin-top: 65px;
    }
}

@media (min-width: 321px) and (max-width: 360px) {
    .card-full {
        height: 330px;
    }

    .latest-chef-div {
        margin-top: 75px;
    }
}

@media (min-width: 361px) and (max-width: 375px) {
    .card-full {
        height: 335px;
    }

    .latest-chef-div {
        margin-top: 75px;
    }
}

@media (min-width: 376px) and (max-width: 420px) {
    .card-full {
        height: 355px;
    }

    .latest-chef-div {
        margin-top: 75px;
    }
}

@media (min-width: 421px) and (max-width: 460px) {
    .card-full {
        height: 370px;
    }

    .latest-chef-div {
        margin-top: 75px;
    }
}

@media (min-width: 461px) and (max-width: 490px) {
    .card-full {
        height: 390px;
    }

    .latest-chef-div {
        margin-top: 75px;
    }
}

@media (min-width: 491px) and (max-width: 540px) {
    .card-full {
        height: 410px;
    }
}

@media (min-width: 541px) and (max-width: 590px) {
    .card-full {
        height: 312px;
    }

    .latest-chef-div {
        margin-top: 135px;
    }
}

@media (min-width: 791px) and (max-width: 820px) {
    .card-full {
        height: 540px;
    }

    .latest-chef-div {
        margin-top: 60px;
    }
}

@media (min-width: 721px) and (max-width: 960px) {
    .card-full {
        height: 565px;
    }
}

.latest-chef-heading-div {
    margin-bottom: 20px;
    padding-left : 15px;
    color        : white;
    font-weight  : 700;
    font-size    : 18px;
    font-family  : sans-serif;
}

.slides-latest-chef {
    padding-bottom: 15px;
    .latest-chef-card {
        // width        : 100%;
        border-radius: 21px;
        margin       : 0 16px 0 10px;
        padding      : auto;
    }

    ion-avatar {
        width : 110px;
        height: 110px;
    }


    ion-slide {
        margin-bottom: 30px;
    }

    ion-label {
        padding-left: 15px;

        .chef-name {
            color         : #1c5c74;
            font-weight   : 600;
            margin        : 5px 0;
            // overflow   : hidden;
            // white-space: nowrap;
        }

        .chef-specialization-div {
            margin: 8px 0;

            // display: flex;
            .chef-specialization {
                color       : #d32235;
                padding-left: 5px;
                font-size   : 12px;
            }

            .chef-specialization-type {
                color         : #1c1c1c;
                padding       : 5px 0;
                font-size     : 11px;
                // white-space: normal;
            }
        }

        .chef-specialization-details {
            color      : #1c1c1c;
            padding    : 5px 0;
            font-size  : 11px;
            white-space: normal;
        }

        .chef-button {
            padding-top: 15px;

            ion-button {
                --background  : #d9e4e8;
                --color       : #090a0a;
                text-transform: capitalize;
                margin-bottom : 15px;
                box-shadow    : none;
                min-width     : 110px;
            }
        }
    }

}

.event-blog {
    background   : white;
    border-radius: 21px;

    .event-heading {
        padding    : 15px 0 10px 15px;
        font-size  : 18px;
        color      : #1c5c74;
        font-weight: 500;
    }

    .event-slider-div {
        ion-slide {
            margin-bottom: 110px;
        }

        .event-details {
            position     : absolute;
            width        : 80%;
            background   : white;
            border-radius: 9px;
            margin-bottom: -170px;
            z-index      : 9999;
            box-shadow   : 2px 2px 2px 2px rgb(0 0 0 / 18%);

            .event-div {
                text-align: center;

                .event-name {
                    color      : #1c5c74;
                    font-weight: 500;
                    font-size  : 14px;
                    text-align : center;
                    padding-top: 15px;
                }

                .latest-event-details {
                    font-size  : 12px;
                    font-weight: 400;
                    opacity    : 0.8;
                    padding    : 6px;
                }
            }

            .event-location-date {
                display           : flex;
                font-size         : 12px;
                // justify-content: space-between;
                margin            : 10px 29px;
                border-top        : 1px solid #e6f0f3;
                padding-top       : 10px;
                color             : #d32235;
                justify-content   : center;

                .event-location {
                    padding-left: 15px;

                    span {
                        padding-left: 5px;
                    }
                }

                .event-date {
                    span {
                        padding-left: 5px;
                    }
                }
            }
        }
    }

    .event-card {
        border-radius: 21px;
        height       : 150px;
        width        : 100%;

        img {
            width    : 100%;
            min-width: 100%;
        }
    }
}


.blog {
    .blog-slider {
        .blog-card {
            border-radius: 10px;
            box-shadow   : none;
            margin       : 0 5px;

            // bottom       : 15px;
            .blog-img {
                border-radius: 21px;
            }

            .blog-content {
                padding: 2px;

                .blog-type {
                    font-size  : 11px;
                    color      : #5b8794;
                    font-weight: 500;
                    line-height: normal;
                }

                .spna-date {
                    color      : #d32235;
                    font-size  : 11px;
                    margin     : 5px 0 20px 0;
                    font-weight: 500;
                    z-index    : 999;
                    opacity    : 9;

                    .blog-date {
                        padding-left: 5px;
                        color       : #e12f41;
                    }
                }
            }
        }
    }
}


.test1 {
    height       : 210px;
    width        : 87%;
    margin-left  : 6%;
    border-radius: 21px;

}

.test2 {
    // position: absolute;
    margin-top   : -204px;
    width        : 100%;
    border-radius: 21px;

    ion-card {
        border-radius: 21px;
    }
}

.testimonial {
    margin     : 20px 10px;
    align-items: center;

    .testimonials-heading {
        text-align   : center;
        margin-bottom: -15px;

        span {
            color      : white;
            font-size  : 18px;
            font-weight: 500;
        }
    }

    .testimonials-last-hideDiv {
        background    : #f2c5ca;
        width         : 100%;
        height        : 200px;
        border-radius : 21px;
        margin        : 55px auto 55px auto;
        padding-bottom: 32px;
    }

    .testimonials-second-last-hideDiv {
        background   : #f6d7dc;
        height       : 230px;
        width        : 90%;
        margin       : auto;
        border-radius: 21px;
        position     : absolute;
    }

    .testimonials-top-upder-hideDiv {
        background   : white;
        height       : 250px;
        width        : 80%;
        margin       : auto;
        border-radius: 21px;
        position     : absolute;

        .testimonial-image {
            ion-avatar {
                margin: 10px auto;

                img {}
            }
        }

        .testimonial-details {
            display: inline-grid;

            .testimonial-name {
                color      : #1d5b76;
                opacity    : 99999;
                font-weight: 500;
                font-size  : 15px;
            }

            .testimonial-specialization {
                color    : #e8878c;
                font-size: 12px;
                margin   : 4px;
            }
        }

        .testimonial-disc {
            .testimonial-detail-span {
                font-size     : 11px;
                letter-spacing: 0px;
                margin        : 0 10px;
                color         : #080808;
                line-height   : 1.5;
                font-weight   : 500;
                opacity       : 0.8;
            }
        }
    }
}