<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img class="headerimg" style="width: 150px;" src="../../../assets/img/logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!-- <div style="display: flex;justify-content: space-between;">
    <div class="image">
      <img style="width: 200px;height: 200px;border-radius: 10px;" src="{{croppedImagePath}}"> 
    </div>
     <div class="button">
       <ion-button (click)="selectImage()" size="small" expand='round'>Click image</ion-button>
     </div>
  </div> -->
  <div class="card-full">
    <ion-searchbar placeholder="Search For Meal,Chef or Location" class="" [(ngModel)]="searchTermProfession" (ionChange)="filterItemProfession()"></ion-searchbar>
    <div class="chef-view">
      <span class="chef-1">Chef</span>
      <span class="chef-more" (click)="clickViewChef()">View All Chef</span>
    </div>
    <div class="slider-chef-div">
      <ion-slides [options]="slideOpts" class="slides-main">

        <ion-slide *ngFor="let chef of filterTermProfession">
          <ion-card class="slider-card">
            <img src="../../../assets/img/chef_1.jpg">
            <div class="chef-detail">
              <span class="chef-name">{{chef[0].firstname}} {{chef[0].lastname}}</span>
              <div class="chef-specialization-div">
                <img src="../../../assets/img/chef_icon.png">
                <span class="chef-specialization">Specialises In:</span>
              </div>
              <span class="chef-specialization-type">{{chef[0].specialization}}</span>
              
            </div>
            <div class="chef-button">
              <ion-button size="small" expand="round" class="see-menu" (click)="openSingleDetails(chef[0])">See Menu </ion-button>
            </div>
          </ion-card>
</ion-slide>
      </ion-slides>
    </div>
  </div>
  <div class="latest-chef-div">
    <div class="latest-chef-heading-div">
      <span class="letest-chef-heading"> Latest Chef</span>
    </div>

      <ion-slides [options]="slidesLatest" pager="true" class="slides-latest-chef">
        <ion-slide *ngFor="let latest of chefsRespoData">
          <div class="latest-chef-shadow">
            <div class="test1" style="background: #f2c5ca;"></div>
          <div class="test2">
            <ion-card class="latest-chef-card">
              <ion-list>
                <ion-item lines="none">
                  <ion-avatar>
                    <img src="../../../assets/img/chef_1.jpg">
                  </ion-avatar>
                  <ion-label>
                    <div class="chef-detail">
                      <span class="chef-name">{{latest.firstname}} {{latest.lastname}}</span>
                      <div class="chef-specialization-div">
                        <img style="width: 12px;height:13px;margin-bottom: -2px;" src="../../../assets/img/chef_icon.png">
                        <span class="chef-specialization">Specialises In:</span>
                        <span class="chef-specialization-type">{{latest.specialization}}</span>
                      </div>
                      <div class="chef-specialization-details">{{latest.aboutme}}</div>
                      <div class="chef-button">
                        <ion-button size="small" expand="round" (click)="openSingleDetails(latest)">See Menu </ion-button>
                      </div>
                    </div>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card>
          </div>
          </div>
        </ion-slide>

      </ion-slides>
  </div>

  <div class="event-blog">
    <div class="event-heading"> Latest Event</div>
    <div class="event-slider-div">
      <ion-slides [options]="slidesEvent" pager="true">
        <ion-slide *ngFor="let ev of latestEventAllData">
          <ion-card class="event-card"><img src="../../../assets/img/blog_1.jpg"></ion-card>
          <div class="event-details">
            <div class="event-div">
              <div class="event-name">{{ev.title}}</div>
              <div class="latest-event-details">{{ev.intro}}</div>
            </div>
            <div class="event-location-date">
              <div class="event-date"><img style="width: 10px;" src="../../../assets/img/time.png"><span>{{ev.date}}</span>
                </div>
              <div class="event-location"><img style="width: 10px;"
                  src="../../../assets/img/location.png"><span>{{ev.location}}</span>
                </div>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="blog">
      <div class="chef-view">
        <span class="chef-1">Latest Blog</span>
        <span class="chef-more" (click)="viewAllBlogs()">View All Blogs</span>
      </div>
      <div class="blog-slider">
        <ion-slides [options]="slidesBlog" pager="false">
          <ion-slide *ngFor="let blog of blogDataAll" style="display: block;">
            <ion-card class="blog-card">
              <img class="blog-img" style="width: 134px;height: 134px;" src="{{blog.blogs_image}}">
              <ion-card-content class="blog-content">
                <div class="blog-type">{{blog.title}}</div>
                <div class="spna-date"><img style="width: 10px;"
                    src="../../../assets/img/date.png"><span class="blog-date">{{blog.date}}</span></div>
              </ion-card-content>
            </ion-card>

          </ion-slide>
        </ion-slides>
      </div>
    </div>
  </div>
  <div class="testimonial">
   <div class="testimonials-heading"><span>Testimonials</span></div>
   <ion-slides [options]="slidesLatest" pager="true" class="slides-testimonial">
<ion-slide *ngFor="let test of testimonialsData">
  <div class="testimonials-last-hideDiv">
  </div>
  <div class="testimonials-second-last-hideDiv">
  </div>
  <div class="testimonials-top-upder-hideDiv">
    <div class="testimonial-image">
      <ion-avatar>
        <img src="../../../assets/img/chef_1.jpg">
      </ion-avatar>
    </div>
<div class="testimonial-details">
  <span class="testimonial-name">{{test.userId}}</span>
  <span class="testimonial-specialization">{{test.location}}</span>
</div>
<div class="testimonial-disc">
  <div class="testimonial-detail-span">{{test.title}}

  </div>
</div>
  </div>
</ion-slide>
   </ion-slides>

  </div>
   <ion-slides [options]="slidesLatest" pager="true" class="slides-testimonial">
    <ion-slide *ngFor="let latest of chefData">

      <!-- <div class="latest-chef-shadow">
        <div class="test1" style="background: #f2c5ca;"></div>
      <div class="test2">
        <ion-card class="latest-chef-card">
          <ion-list>
            <ion-item lines="none">
              <ion-avatar>
                <img src="{{latest.img}}">
              </ion-avatar>
              <ion-label>
                <div class="chef-detail">
                  <span class="chef-name">{{latest.name}}</span>
                  <div class="chef-specialization-div">
                    <img style="width: 12px;height:13px;margin-bottom: -2px;" src="../../../assets/img/chef_icon.png">
                    <span class="chef-specialization">Specialises In:</span>
                    <span class="chef-specialization-type">{{latest.spel}}</span>
                  </div>
                  <div class="chef-specialization-details">Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry.</div>
                  <div class="chef-button">
                    <ion-button size="small" expand="round">See Menu </ion-button>
                  </div>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card>
      </div>
      </div> -->

    </ion-slide>
  </ion-slides>
 
 
 
 
  <!-- <ion-button (click)="AppleSignIn()" color="light" expand="full" class="apple-login">
    <ion-icon expand="full" name="logo-apple" slot="start"></ion-icon>
    Sign in with Apple
  </ion-button> -->
<div style="height: 20px;">
</div>
</ion-content>