<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img class="headerimg" style="width: 150px;" src="../../../assets/img/logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="--background: #fff;">
  <ion-list>
    <ion-item slot="header" color="light" lines="none">
      <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
      <ion-label style="text-align: right;">My Order</ion-label>
    </ion-item>
  </ion-list>
  <div class="data_not_found" *ngIf="allorderedDataList.length=='0'" 
  style="height: 40vh;text-align:center;padding-top: 20vh;">No Order Found</div>
  <div *ngIf="allorderedDataList.length > 0">
  <ion-card class="order-card" *ngFor="let order of allorderedDataList" (click)="orderDetails(order)">
    <ion-list>
      <ion-item lines='none' detail>
        <ion-thumbnail class="addedImage"  *ngIf="order.ordersdetails[0].menu_img[0] !=''"><img src="{{order.ordersdetails[0].menu_img[0]}}"></ion-thumbnail>
        <ion-thumbnail class="addedImage" *ngIf="order.ordersdetails[0].menu_img[0] ==''"><img src="../../../assets/img/chef_1.jpg"></ion-thumbnail>
        <ion-label class="text-label">
          <div><ion-icon name="id-card-outline"></ion-icon>{{order.orderId}}</div>
          <div><ion-icon name="calendar-outline"></ion-icon>{{(order.deliverydate).substring(0,10)}}</div>
          <div><ion-icon name="call-outline"></ion-icon>{{order.contactNumber}}</div>
          <div><ion-icon name="at-outline"></ion-icon>{{order.totalamount | currency:'INR':'symbol'}}</div>
          <div class="address"><ion-icon name="home-outline"></ion-icon>{{order.address}}</div>
        </ion-label>
  
      </ion-item>

    </ion-list>
  </ion-card>
</div>

  <div class="chef-menu" style="margin: 10px 0;">
     <ion-item slot="header" color="light" lines="none">
      <ion-icon name="restaurant-outline" slot="start"></ion-icon>
      <ion-label style="text-align: right;">My Added Menu List</ion-label>
    </ion-item>
    <div class="data_not_found" *ngIf="user.menu_data_list==0" style="text-align:center;padding-top: 10vh;">
      <div class="data_not_found">No Data Found</div>  
    <ion-button expand="round" size="small" (click)="addMenu()">Add Menu</ion-button>
    </div>
    <ion-card style="border-radius: 11px;margin: 10px;box-shadow: 1px 3px 5px 5px rgba(242,242,242,255)" *ngFor="let menu of user.menu_data_list">

      <div style="display: inline-flex;width: 100%;">
       <div class="item-menu" style="display: inline-flex;width: 100%;">
         <div><img style="width: 85px;
           height: 85px;
           border-radius: 11px;margin: 7px 0 5px 6px;" src="{{menu.path}}">
           </div>
       <div style="display: block;
       padding-left: 10px;
       width: 65%;
       margin: 5px 0 0 0;text-transform: capitalize;">
       <div style="font-size: 17px;
       font-weight: 500;
       color: #010101;">{{menu.title}}</div>
         <div style="font-size: 12px;
         font-weight: 500;
         margin-top: 3px;
         color: #010101;">{{(menu.description).substring(0,50)}}..</div>
       <div class="cart-item-price-main-count" 
       style="display: inline-flex;width: 100%;margin-top: 10px;;">
         <div class="cart-item-price" 
         style="display: inline-flex;
         width: 60%;">
           <p style="margin-top: 0;
           font-size: 18px;
           font-weight: 600;">{{menu.price | currency:'INR':'symbol'}}</p>
           <!-- <del style="padding-left: 5px;
           font-size: 12px;
           padding-top: 7px;
           opacity: 99999;
   color: #a9a9a9;">{{menu.offer | currency:'INR':'symbol'}}</del> -->
         </div>
        
       </div>
       </div>
       </div>
        <div style="width: 10%;
        display: block;
        justify-content: space-between;
        position: relative;
        background: #f4f8f9;
        padding-top: 15px;
        text-align: center;
        font-size: 20px;">
       <div style="height: 50%;" (click)="editMenu(menu)"><ion-icon name="create-outline"></ion-icon></div>
       <div style=""><ion-icon name="trash-outline" (click)="deleteMenu(menu)"></ion-icon></div>
     </div>
      </div>

    </ion-card>

   </div>
</ion-content>