<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" class="back-button" (click)="dismiss()" slot="start"></ion-icon>
    <ion-title class="title-text" style="text-align: center;">
      Ashish Chaurasiya
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="about-slider-div">
    <ion-slides [options]="slideOpts" class="slides-main" pager="true">
      <ion-slide >
        <ion-card class="contact-slider-card">
         <img src="../../../assets/img/chef_1.jpg" class="slider-image" />
        </ion-card>
      </ion-slide>
      <ion-slide >
        <ion-card class="contact-slider-card">
         <img src="../../../assets/img/chef_2.jpg" class="slider-image"/>
        </ion-card>
      </ion-slide>
      <ion-slide >
        <ion-card class="contact-slider-card">
         <img src="../../../assets/img/chef_3.jpg" class="slider-image"/>
        </ion-card>
      </ion-slide>
        </ion-slides>
  </div>
</ion-content>