.order-address {
    border: 1px solid #dee9ed;
    border-radius: 10px;
    margin: 20px 15px 20px 10px;
    padding: 15px 5px 15px 15px;
    text-transform: capitalize;

    .delivery_to {
        color        : #e01f34;
        font-size    : 13px;
        margin-bottom: 5px;
        text-transform: capitalize;
    }

    .customer_name {
        color        : #000000;
        font-weight  : 500;
        margin-bottom: 10px;
        text-transform: capitalize;
    }

    .customer_city {
        font-size  : 15px;
        color      : #000;
        font-weight: 400;
        text-transform: capitalize;
    }

    .customer_phone {
        margin-bottom: 5px;
        margin-top   : 5px;
    }
}

.ordered-item-img {
    min-width      : 90px;
    min-height     : 90px;
    margin         : 0;
    --border-radius: 10px;
}

.ordered-main-div {
    width       : 100%;
    height      : 100%;
    display     : flex;
    padding-left: 7px;
    overflow    : hidden;
    margin-top  : 5px;
    white-space : nowrap;

    .first-ordered-div {
        width      : 100%;
        height     : 100%;
        margin-left: 5px;

        .ordered-item-name {
            font-size    : 12px;
            font-weight  : 400;
            font-family  : sans-serif;
            overflow-wrap: break-word;
            overflow     : hidden;
            white-space  : nowrap;
            padding-top  : 1px;
            color        : #9b9b9b;
        }

        .item_menu_name {
            color         : #1c5c74;
            font-weight   : 500;
            font-size     : 16px;
            text-transform: capitalize;
        }
    }

    // .second-ordered-div{
    //     width: 30%;
    //     font-weight: 400;
    //     text-align: center;
    //     margin-top: 3px;
    //     .ordered-date{
    //         font-size: 12px;
    //     }
    //     .ordered-status{
    //         font-size: 12px;
    //     }
    // }
}

ion-label {
    height: 100%;
}

.order-card {
    background: #eef3f6;
    padding   : 10px;
    margin    : 10px 0;
}

.total-amount {
    margin    : 10px 10px 30px;
    text-align: right;
    .total{
        border-bottom: 2px solid #f7f9fa;
    margin: 10px auto;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 2px solid #f7f9fa;
    }
}