<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" class="back-button" (click)="dismiss()" slot="start"></ion-icon>
    <ion-title style="text-align: center;color: #275879;margin-top: 15px;">
      Order - {{ev_data.orderId}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex;justify-content: space-around;margin-top: 15px;">
    <div style="color: #aeaeae;opacity: 999;">Order-{{ev_data.orderId}}</div>
    <div style="display: flex;"><div style="color: #aeaeae;opacity: 999;">Order Status-</div><div style="color: #1db2ff;"><i class="fa-grill-hot"></i>In Progress</div></div>
  </div>
  <div class="order-address">
    <div class="delivery_to">Deliver to:</div>
    <div class="customer_name">Ashish Chaurasiya</div>
    <div class="customer_address">
      <div class="customer_city">{{ev_data.address}}</div>
      <div class="customer_pin">231211</div>
    </div>
    <div class="customer_phone">Pho: {{ev_data.contactNumber}}</div>
  </div>
  <div class="Selected" style="padding-left: 10px;
  font-size: 13px;">Selected Items</div>
  <ion-card style="border-radius: 10px;margin: 10px;" *ngFor="let ord of ev_data.ordersdetails">
    <ion-list>
      <ion-item lines="none">
        <ion-thumbnail class="ordered-item-img">
          <img src="{{ord.menu_img[0]}}">
        </ion-thumbnail>
        <ion-label text-wrap class="ion-text-wrap">
          <div class="ordered-main-div">
            <div class="first-ordered-div">
              <div class="ordered-item-name item_menu_name">{{ ord.menudetail[0].title }}</div>
              <div class="ordered-item-name">{{ ord.menudetail[0].description }}</div>
              <div class="second-ordered-price" style="display: flex;
      width: 100%;
      justify-content: space-between;">
                <!-- <div class="ordered-item-price">{{ ord.menudetail[0].price }}</div> -->
                <div class="ordered-item-price"><i class="fa fa-inr" aria-hidden="true"></i> {{ ord.menudetail[0].price }}</div>
                <div class="ordered-item-price" style="border: 1px solid #ecf0f3;
        width: 48px;
        border-radius: 11px;
        font-size: 12px;
        padding: 2px 5px;"><span style="color: #949494;">Qty&nbsp;</span>{{ord.orderdetils_qtty}}</div>
              </div>
            </div>


          </div>
        </ion-label>

      </ion-item>

    </ion-list>
  </ion-card>
  <div class="line" style="height: 20px;margin: auto 10px;"></div>
  <div class="total-amount">
       <div class="total">Total  <i class="fa fa-inr" aria-hidden="true"></i> {{ev_data.totalamount}}</div>
<div style="display: flex;justify-content: end;margin: 10px 0;">
  <div>Payment Status</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div style="font-size: 15px;font-weight: bold;">Confirm</div>
</div>
<div style="display: flex;justify-content: end;margin: 10px 0;">
  <div>Payment Mode</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div style="font-size: 15px;font-weight: bold;">Debit Card</div>
</div>
  </div>
</ion-content>