.ordered-item-img{
    min-width: 90px;
    min-height: 90px;
    margin: 0;
    --border-radius: 10px;
}
.ordered-main-div{
    width: 100%;
    display: flex;
    padding-left: 7px;
    overflow: hidden;
    margin-top: 5px;
    white-space: nowrap;
    .first-ordered-div{
        width: 70%;
        margin-left: 5px;
        .ordered-item-name{
            font-size: 10px;
            font-weight: 500;
            font-family: sans-serif;
    overflow-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
        }
        .item_menu_name{
            color: #1c5c74;
            font-weight: 500;
            font-size: 16px;
            text-transform: capitalize;
        }
    }
    .second-ordered-div{
        width: 30%;
        font-weight: 400;
        text-align: center;
        margin-top: 3px;
        .ordered-date{
            font-size: 12px;
        }
        .ordered-status{
            font-size: 12px;
        }
    }
}
ion-label{
    height: 100%;
}
.order-card{
    background: #eef3f6;
    padding: 10px;
    margin: 10px 0;
}