.login-container {
    height: 100vh;
}

.bg-image {
    height: 35vh;
    width : 100%;
}



.label-float {

    &.invalid {
        label {
            color: #f53d3d !important;
        }

        input {
            border: 2px solid #f53d3d !important;
        }
    }

    ion-input {
        background-color  : transparent;
        border            : 2px solid #e1eaec;
        border-radius     : 50px;
        outline           : none;
        min-width         : 100%;
        padding           : 15px 0;
        font-size         : 15px;
        transition        : all 0.1s linear;
        -webkit-transition: all 0.1s linear;
        -moz-transition   : all 0.1s linear;
        -webkit-appearance: none;
        padding-left: 15px;
        &:focus {
            border: 2px solid #e1eaec;
        }

        &::placeholder {
            color: black;
        }
    }

    label {
        color             : black;
        pointer-events    : none;
        position          : absolute;
        // top: calc(50% - 8px);
        top               : 0;
        left              : 20px;
        transition        : all 0.1s linear;
        -webkit-transition: all 0.1s linear;
        -moz-transition   : all 0.1s linear;
        background-color  : white;
        background: white;
        padding-top       : 5px;
        margin-left       : 3px;
        padding-left      : 5px;
        padding-right     : 8px;
        box-sizing        : border-box;
    }
}

.label-float ion-input:focus+label,
ion-input:not(:placeholder-shown):not(.invalid)+label {
    font-size: 12px;
    top: 3px;
    color    : #000;
    background: white;
    z-index: 9999;
}

.label-float ion-input:not(:focus):not(:placeholder-shown):not(.invalid)+label {
    font-size: 12px;
    top: 3px;
    color    : #000;
}

.span-star {
    color       : red;
    padding-left: 5px;
}

.remember-forgot {
    display        : inline-flex;
    // justify-content: space-around;
    justify-content: right;
    width          : 100%;

    .remember-checkbox {
        margin-right: 10px;
    }
    .check-checkbox{
        ion-label{
            font-size: 13px;
        }
    }
}

.login-input-value {
    margin: 29px 0 10px 0;
}

.forgot-div {
    text-align: right;
    .forgot-p {
        text-align: right;
        color          : #1e5c75;
        opacity        : 1;
        font-weight    : 500;
        text-decoration: underline;
        font-size: 15px;
        // margin-top: 18px;
        padding-right: 25px;
        font-style: italic;
    }
}
