/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*  swiper css */ 
// @import "~swiper/swiper-bundle";
.login-container {
    height: 100vh;
}
.bg-image {
    height: 35vh;
    width : 100%;
}
.login-input {
    height                 : 65vh;
    border-top-left-radius : 21px;
    border-top-right-radius: 21px;
    width                  : 100%;
    background-color       : #fff;
    right                  : 0;
    bottom                 : 0;
    // margin-top: -5vh;
    opacity                : 0.9;
    margin-top             : -30px;
}
.app-name {
    text-align : center;
    padding-top: 7px;

    h1 {
        font-size     : 35px;
        font-weight   : 500;
        letter-spacing: 1px;
        line-height   : 20px;
        color         : #1c5c75;
    }
    span {
        font-size  : 13px;
        font-weight: 500;
    }
}
.submit-div{
    text-align: center;
    width: 100%;
    .submit-login-button{
        --background: #1c5c75;
        border-radius: 21px;
        width: 80%;
    }
}
.create-new-account{
    text-align: center;
    margin-top: 30px;
    .create-account-p{
        font-size: 15px;
    }
    a{
        color: #1c5c75;
        margin-left: 5px;
        text-decoration: underline;
        opacity: 1;
    }
}

.label-float {
    position   : relative;
    padding-top: 13px;
    margin     : 0 30px;

    &.invalid {
        label {
            color: #f53d3d !important;
        }

        input {
            border: 2px solid #f53d3d !important;
        }
    }

    ion-input {
        background-color  : transparent;
        border            : 2px solid #e1eaec;
        border-radius     : 21px;
        outline           : none;
        min-width         : 100%;
        padding           : 15px 0;
        font-size         : 15px;
        transition        : all 0.1s linear;
        -webkit-transition: all 0.1s linear;
        -moz-transition   : all 0.1s linear;
        -webkit-appearance: none;
        padding-left: 15px;
        height: 50px;
        &:focus {
            border: 2px solid #e1eaec;
        }

        &::placeholder {
            color: black;
        }
        input{
            margin-left: 15px;
        }
    }

    label {
        color             : black;
        pointer-events    : none;
        position          : absolute;
        // top: calc(50% - 8px);
        top               : 0;
        left              : 20px;
        transition        : all 0.1s linear;
        -webkit-transition: all 0.1s linear;
        -moz-transition   : all 0.1s linear;
        background-color  : white;
        background: white;
        padding-top       : 5px;
        margin-left       : 3px;
        padding-left      : 5px;
        padding-right     : 8px;
        box-sizing        : border-box;
    }
}

.label-float ion-input:focus+label,
ion-input:not(:placeholder-shown):not(.invalid)+label {
    font-size: 12px;
    top: 3px;
    color    : #000;
    background: white;
    z-index: 9999;
}

.label-float ion-input:not(:focus):not(:placeholder-shown):not(.invalid)+label {
    font-size: 12px;
    top: 3px;
    color    : #000;
}
.span-star {
    color       : red;
    padding-left: 5px;
}
.title-text{
    color: #1c5c75;
}

.blog-date-admin-icon{
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    padding-left: 15px;
    .blog-date-icon{
        display: flex;
        justify-content: space-between;
        img{
            width: 15px;
    height: 15px;
        }
    }
    .blog-admin-icon{
        display: flex;
        justify-content: start;
        padding-left: 15px;
        img{
            width: 15px;
    height: 15px;
        }
    }
    .blog-date-text, .blog-admin-text{
    font-size: 11px;
    padding-left: 5px;
    margin-top: 3px;
    }
}
.blog-name{
    margin: 0px 1px;
    text-align: start;
    font-weight: 900;
    font-size: 13px;
    h6{
        font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    }
    .blog-script-name{
        font-size: 13px;
        margin: 15px;
        font-weight: 500;
    }
}

.swiper-pagination-bullet {
    --background: #ad1b2b;
   background: var(--ion-color-success);
}
.swiper-pagination-bullet-active {
    background: #550d18;
    
}
.text-danger{
    color: red;
    padding-left: 10px;
    font-size: 12px
}

.profile-top-div{
    position: relative;
    .profile-card{
        border-radius: 21px;
        box-shadow: none;
        .profile-card-image{
        height: 150px;
        width: 100%;
        margin-bottom: -4px;
        }
    }
    .profile-div-image{
        margin-top: -42px;
        z-index: 99;
        position: relative;
        width: 100%;
        display: inline-flex;
    }
    .profile-image{
        width: 100px;
        height: 100px;
        z-index: 9999;
        border-radius: 50%;
        opacity: 1111;
        margin-left: 20px;
        border: 4px solid white;
    }
    .profile-edit-icon{
        background: #d32235;
        border-radius: 50%;
        padding: 5px;
        margin-left: -28px;
        color: white;
    }
    .user-data{
        margin-top: 25px;
        width: auto;
        h3{
        font-size: 15px;
        padding-left: 10px;
        margin-bottom: 2px;
        }
        .user-specialization{
            display: inline-table;
            padding-left: 10px;
        img{
            width: 13px;
            height: 16px;
            padding-top: 5px;
        }
        span{
            font-size: 12px;
            padding-left: 5px;
        }
        .user-specialization-heading{
            color: #d32235;
            padding-left: 6px;
            font-weight: 500;
        }
        }
    }
}

.back-button{
    margin-left: 10px;
    font-size: 30px;
}
ion-title{
    text-align: center;
    margin-right: 25px;
}

.item.active.item-stable, .item.activated.item-stable, .item-complex.active .item-content.item-stable, .item-complex.activated .item-content.item-stable, .item .item-content.active.item-stable, .item .item-content.activated.item-stable{
    border-color: #B81D22;
    background-color: #B81D22;
}

.accordion-card{
    box-shadow: none;
    border: 1px solid #dfe8ed;
    border-radius: 11px;
    .label-float{
     margin: 0;
    }
    ion-textarea{
        background-color: transparent;
        border: 2px solid #e1eaec;
        border-radius: 21px;
        outline: none;
        min-width: 100%;
        font-size: 15px;
        transition: all 0.1s linear;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        -webkit-appearance: none;
        padding-left: 15px;
        min-height: 70px;
    }
}
.address-show{
    position: relative;
    margin: 25px 0px 5px 0px;
    padding-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #dceaed;
    .name-address{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    .name{
        margin-top: 10px;
        margin-left: 15px;
        // font-size: 15px;
        // font-weight: 500;
        color: #010101;
        // opacity: 0.8;
    }
    .edit{
        text-align: right;
        margin-top: -6px;
        box-shadow: none;
        .edit-button{
            --background: #dee9ed;
            color: #1b5b77;
            opacity: 99;
            text-transform: capitalize;
            font-size: 10px;
            height: 19px;
            --box-shadow: none;
            margin-right: 0;
            --border-top-right-radius: 10px;
        }
    }
    }
    .address-in-details{
        width: 100%;
        padding-left: 15px;
        line-height: 1;
        span{
            font-size: 12px;
            font-weight: 400;
            color: #010101;
            opacity: .9;
        }
    }
}