.add-person{
    position: relative; 
     background-color: white;
     top: 10%;
}
.cross{
    width: 25px;
    height: 25px;
    color: black;
    padding-right: 10px;
}
.categorySecond{
    display: inline-flex;
}